SmallLabyWpfPlayer/Service References/ServiceRefSmallLaby/SmallLaby.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SmallLaby" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://188.231.153.190:8080/SmallLabyServer?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://188.231.153.190:8080/SmallLabyServer?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://188.231.153.190:8080/SmallLabyServer?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISmallLaby_AddPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayer" />
  </wsdl:message>
  <wsdl:message name="ISmallLaby_AddPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="ISmallLaby_RemovePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePlayer" />
  </wsdl:message>
  <wsdl:message name="ISmallLaby_RemovePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="ISmallLaby_GetMap_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMap" />
  </wsdl:message>
  <wsdl:message name="ISmallLaby_GetMap_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMapResponse" />
  </wsdl:message>
  <wsdl:message name="ISmallLaby_GetMapWidth_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMapWidth" />
  </wsdl:message>
  <wsdl:message name="ISmallLaby_GetMapWidth_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMapWidthResponse" />
  </wsdl:message>
  <wsdl:message name="ISmallLaby_GetMapHeight_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMapHeight" />
  </wsdl:message>
  <wsdl:message name="ISmallLaby_GetMapHeight_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMapHeightResponse" />
  </wsdl:message>
  <wsdl:message name="ISmallLaby_GetPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPosition" />
  </wsdl:message>
  <wsdl:message name="ISmallLaby_GetPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionResponse" />
  </wsdl:message>
  <wsdl:message name="ISmallLaby_SetPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPosition" />
  </wsdl:message>
  <wsdl:message name="ISmallLaby_SetPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPositionResponse" />
  </wsdl:message>
  <wsdl:portType name="ISmallLaby">
    <wsdl:operation name="AddPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmallLaby/AddPlayer" message="tns:ISmallLaby_AddPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmallLaby/AddPlayerResponse" message="tns:ISmallLaby_AddPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmallLaby/RemovePlayer" message="tns:ISmallLaby_RemovePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmallLaby/RemovePlayerResponse" message="tns:ISmallLaby_RemovePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMap">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmallLaby/GetMap" message="tns:ISmallLaby_GetMap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmallLaby/GetMapResponse" message="tns:ISmallLaby_GetMap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMapWidth">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmallLaby/GetMapWidth" message="tns:ISmallLaby_GetMapWidth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmallLaby/GetMapWidthResponse" message="tns:ISmallLaby_GetMapWidth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMapHeight">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmallLaby/GetMapHeight" message="tns:ISmallLaby_GetMapHeight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmallLaby/GetMapHeightResponse" message="tns:ISmallLaby_GetMapHeight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmallLaby/GetPosition" message="tns:ISmallLaby_GetPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmallLaby/GetPositionResponse" message="tns:ISmallLaby_GetPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmallLaby/SetPosition" message="tns:ISmallLaby_SetPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmallLaby/SetPositionResponse" message="tns:ISmallLaby_SetPosition_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISmallLaby" type="tns:ISmallLaby">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPlayer">
      <soap:operation soapAction="http://tempuri.org/ISmallLaby/AddPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePlayer">
      <soap:operation soapAction="http://tempuri.org/ISmallLaby/RemovePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMap">
      <soap:operation soapAction="http://tempuri.org/ISmallLaby/GetMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMapWidth">
      <soap:operation soapAction="http://tempuri.org/ISmallLaby/GetMapWidth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMapHeight">
      <soap:operation soapAction="http://tempuri.org/ISmallLaby/GetMapHeight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPosition">
      <soap:operation soapAction="http://tempuri.org/ISmallLaby/GetPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPosition">
      <soap:operation soapAction="http://tempuri.org/ISmallLaby/SetPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmallLaby">
    <wsdl:port name="BasicHttpBinding_ISmallLaby" binding="tns:BasicHttpBinding_ISmallLaby">
      <soap:address location="http://188.231.153.190:8080/SmallLabyServer" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>